/* Arka planı */
body {
    background: linear-gradient(180deg, #f4f6f8 0%, #cadcf8 100%);
    height: 100vh;
}

.container {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    max-width: 1000px;
    width: 90%;
    padding: 30px;
    border-radius: 10px;
}

.kitap-alani {
    background: linear-gradient(180deg, #f0f3fa 0%, #e1e6f5 100%);
    padding: 30px;
    border-radius: 8px;
    max-width: 50%;
    min-height: 300px;
    max-width: 800px;
    margin: 30px auto;
}
/* Kitap listesi */
ul li a {
    text-decoration: none;
    display: block;
    background-color: #f0f3fa;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 5px;
    transition: 0.3s ease;

}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}

ul li a:hover {
    background-color: #e1e6f5;
    transform: translateX(5px);
}

/* Alt çizgili */
.ALT {
    border-bottom: 3px solid #1f3c88;
}

/* Ana başlık */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* h3 (yazar adı vb.) */
h3 {
    margin-top: 40px;
    color: #1f3c88;
    border-left: 5px solid #1f3c88;
    padding-left: 10px;
}

/* Geri butonu */
.geri-btn {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

.geri-btn:hover {
    transform: translateY(-2px);
}

/* --- Test butonunu --- */

.Butonlar {
    border-radius: 6px;
    color: white;
    background-color: #1f3c88;
    border: none;
    height: 35px;
    width: 120px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.Butonlar:hover {
    rotate: 0deg; /* okul projesi için dönüşü kapattık */
    background-color: #162f6b;
    color: rgb(196, 193, 193);
}

.Butonlar:active {
    transform: scale(0.97);
}

/* Başlık */
.Title {
    color: #1f3c88;
    text-shadow: 1px 1px #cfd6ea;
}

/* Soru kutusu daha belirgin */

.soru {
    background-color: #f8f9fd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* Cevaplar başta gizli */
.cevap {
    display: none;
    transition: all 0.3s ease;
    color: #1f3c88;
}

/* Cevap butonu */
.cevap-btn {
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    background-color: #1f3c88;
    color: white;
    cursor: pointer;
}

.cevap-btn:hover {
    background-color: #162f6b;
}

.Credits{
    color: rgb(228, 228, 97);
    text-shadow: 2px 1px rgb(133, 133, 8);
}

@media (max-width: 768px) {
    .kitap-alani {
        max-width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 26px;
    }
}
